---
import About from "../../layouts/About.astro";
---

<About title="About">
    <h2>Our Mission</h2>
    <article>Youth Sing Praise welcomes youth into a community that nourishes their unique gifts by bridging musical theater and faith as they become a witness for Christ.</article>

    <h2>Our Vision</h2>
    <article>Youth Sing Praise will change the lives of participants, families, audience members, and the community by strengthening their faith in Christ.</article>
</About>
