---
import About from "../../layouts/About.astro";
---

<About title="About">
    <h2>Core Values</h2>
    <ul>
        <li>Welcoming and Affirming Community</li>
        <li>Nurturing Gifts of Youth</li>
        <li>Witnessing Christ</li>
        <li>Spiritual Growth and Expression</li>
        <li>Professionalism in Ministry and Theatrical Staff</li>
    </ul>
</About>
