---
import About from "../../layouts/About.astro";
---

<About title="About">
    <p>
        The YSP Foundation produces two youth programs each summer, Youth Sing
        Praise and Youth Sing Praise Jr., as well as events to raise program
        funds, and reunions for YSP alumni.
    </p>
    <p>
        Our Board of Directors work to support the mission and vision of the YSP
        Foundation and through financial support and professional expertise. The
        Executive Director and the Program Director(s) work closely with the
        Board to keep the programs rooted in tradition while keeping an eye to
        the future.
    </p>
    <p>
        The Artistic Director is closely involved with the hiring and training
        of theatrical staff, with the exploration of new commissions, and
        creating relationships in the theatrical community with our programs.
    </p>
    <p>
        The Spiritual Director is an Oblate of Mary Immaculate who advises in
        the hiring and training of ministerial staff and guides the Foundation
        in maintaining our connection with the Oblates and their charism in our
        programming.
    </p>
    <p>
        Our premier program is Youth Sing Praise, a 9-day overnight performing
        arts camp and religious retreat for high school teens, culminating in
        the top-quality performance of a faith-based musical for an audience of
        thousands.
    </p>
    <p>
        The Foundations also invites middle school students to a one-day
        workshop, YSP Jr., where they learn performance skills, prayer and
        community-building&#8211;like YSP on a shorter scale.
    </p>
    <p>
        Helpers Team for young adults (often alumni of YSP) is a service
        leadership experience that incorporates prayer and reflection into the
        physical work and leadership skills required to make YSP&#8211;and any
        community program&#8211;happen with grace and excellence.
    </p>
    <p>
        Over the years, many musicals have been written expressly for, or
        debuted at YSP. From Stephen Schwartz&#8217;s <em>Family Tree</em> (later
        re-titled <em>Children of Eden</em>) in 1986, to our most recent
        commission from Orin Johnson and Bradley J. Behrmann, <em
            >Just Pretend</em
        >, we benefit from relationships with talented, faith-filled writers and
        composers.
    </p>
</About>
