---
import Programs from "../../layouts/Programs.astro";

---

<Programs>
    <article>
    <p>Youth Sing Praise has been ministering to and with high school teens for 38 years! Each summer, YSP invites vocally and theatrically talented teens from across the country to immerse themselves in a nine day part-theater camp, part-spiritual retreat. It culminates with the performance of a faith-based musical (like <em>Jesus Christ Superstar</em> or <em>Godspell, </em>or shows written originally for YSP like <em>Children of Eden</em> and <em>Just Pretend</em>), as a witness to an audience of 1,000-2,000 people!</p>
    </article>
</Programs>
<style>
    .ysp-btn{
        background-color: orange;
    }
</style>