---
import Programs from "../../layouts/Programs.astro";

---

<Programs>
    <article>
        <p>YSP Jr. is a one day mini-YSP experience designed to give 6-7-8th graders a taste of the high school YSP experience. Students who are looking to explore musical theater and faith in a one-day-workshop.</p>
        <p>YSP Jr. students meet, rehearse, pray, and perform on the day of the YSP performance each year.  The students learn one song (complete with choreography) and perform the piece as an opening act for the high school performance.</p>
        <p>The Program Director works with the Theatrical Staff and Retreat Staff to coordinate the retreat and the theatrical aspects of the day.  The participants arrive, have opening prayer, have group auditions, and then get to work.</p>
        <ul>
        <li> Junior High students are invited to experience some of the theatrical and spiritual aspects of YSP</li>
        <li> A professional theatrical and ministry staff lead a one-day workshop</p>
        <li> Students will rehearse, explore and perform a musical number</li>
        <li> Performance will take place before the YSP performance</li>
        <li> $35 per student: includes retreat and rehearsal materials, dinner, souvenir tshirt</li>
        <li> Improve your skills and explore your faith! Get an advantage for participating in YSP once you get to high school!</li>
    </ul>
    </article>
</Programs>