---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro"
import CardLabel from "../components/CardLabel.astro";
---
<Layout title="Audition Video">
        <CardLabel label="Audition Video Instructions" width={40} />
        <Card height="auto" width="70%" margin="0 15% 0 15%">
        <p>
            Upload a video to an online video sharing platform (Youtube or TikTok are best) starring you, with the following requirements:
            <ol>
                <li>Your Name</li>
                <li>Sing "Happy Birthday" a cappella. Basses/ Altos on "C". Tenors/Sopranos on "E Flat" or higher.</li>
                <li>Sing a Broadway or liturgical song (8-12 bars is enough), accompanied by guitar, keyboard, or recording. Unaccompanied performances will not accepted.</li>
            </ol>
        </p>
        <p>
            Add the link to your video to your application.
        </p>
    </Card>
</Layout>
<style>
    p {
    font-size: 24px;
    text-align: left;
    color: #e9ecef;
    font-family: "Nunito", sans-serif;
    padding: 16px;
    }
    ol {
        font-size: 24px;
        text-align: left;
        color: #e9ecef;
        font-family: "Nunito", sans-serif;
        padding-left: 60px;

    }
</style>