---
export interface Props {
	height: string;
	width: string;
	margin: string;
}

const { height, width, margin } = Astro.props;
---

<div class="content-card">
	<slot />
</div>
<style define:vars={{height, width, margin}}>
	.content-card{
		height: var(--height);
        width: var(--width);
        margin: var(--margin);
        background-color: rgba(156, 54, 181, .8);
        border-radius: 30px;
	}
</style>
