<header>
    <img src="/images/ysp-white.png">
    <nav>
        
    </nav>
</header>
<style>
    header{
        background-color: #9c36b5;
    }
    
    img {
        height: 40px;
        margin: 20px
    }
</style>