---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About">
    <main class="about">
        <aside class="about-nav-box">
            <nav class="about-nav-container">
                <h2><a href="/about/">About YSP</a></h2>
                <ul>
                    <li><a href="/about/mission">Mission & Vision</a></li>
                    <li><a href="/about/values">Core Values</a></li>
                    <li><a href="/about/who">Who</a></li>
                    <li><a href="/about/staff">Staff</a></li>
                    <li><a href="https://youth-sing-praise-foundation-inc.square.site/product/unrestricted-donation/1" target="_blank">Support</a></li>
                </ul>
            </nav>
        </aside>
        <Card height='auto' width='auto' margin='0 20px 0 20px'>
            <section class="about-content">
                <slot />
            </section>
        </Card>
    </main>
</Layout>
<style>
    .about-nav-box {
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        background-color: rgba(156, 54, 181, .8);
        margin: 20px;
        border-radius: 30px;
        flex: 0 0 20ch;
        text-align: center;
        height: 100%;
    }
@media screen and (min-width: 600px){
    .about {
        margin-top: 60px;
        display: flex;
        align-content: flex-start;
        gap: 20px;
    }
    .about-nav-box {
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        background-color: rgba(156, 54, 181, .7);
        margin: 20px;
        border-radius: 30px;
        flex: 0 0 25ch;
        text-align: left;
        height: 100%;
    }
}
    .about-nav-container {
        margin: 20px;
    }
    a {
        text-decoration: none;
        color: #e9ecef;
    }
    a:hover {
        text-decoration: none;
        color: yellow;
    }

    .about-nav-container h2 {
        font-size: 32px;
    }
    .about-nav-container li {
        font-size: 20px;
        list-style: none;
    }
    .about-content {
        line-height: 1.5;
    }
    .about-content {
        text-align: left;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        color: #e9ecef;
        padding: 40px;
    }

</style>
