---
export interface Props {
	title: string;
}
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/y-icon.png" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Concert+One"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Header />
	<body class='main-image-container'>
		<slot />
	</body>
</html>
