---
export interface Props {
	title: string;
}
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title } = Astro.props;

// const backgroundImage = title === 'Youth Sing Praise' ?
// 	'url(/images/ysp-2019-stage.jpg)' : 'url(/images/ysp-stage.jpeg)';

const backgroundImage = 'url(/images/ysp-2019-stage.jpg)';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/y-icon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@500&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Header />
	<body class='main-image-container'>
		<slot />
	</body>
</html>
<style define:vars={{backgroundImage}}>
	.main-image-container {
    position: relative;
    text-align: center;
    background-image: var(--backgroundImage);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>